.querybox{
	position:relative;
	border-radius:10px;
	padding:2px 3px 2px 10px;
	border:2px solid #2cc7ea;
	height:28px;
	width:90%;
}

.querybox .text{
	height:26px;
	border:0;
	float:left;
	font-size:12px;
	width:90%;
	padding-left:2px;
}

.querybox .btn{
	z-index:1;
	width:25px;
	height:25px;
	background:url(images/search.png) no-repeat;
	float:right;
}
.querybox .clear{
	position:absolute;
	width:20px;
	height:20px;
	background:url(images/delete.jpg) no-repeat;
	top:6px;
	right:40px;
	display:none;
}